<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head.ejs'); -%>
<body>
    <main>
        <%- include('../../partials/header.ejs'); -%>
        <form action="/admin/hotshotManager" method="GET" id="hotshotManagerNav">
            <h5>
                <% if(type === 'pending') { %> 
                    Pending Applications.
                <%} else if(type === 'active') {%>
                    Active Hotshots.
                <% } else if(type === 'archived') {%>
                    Archived Hotshots.
                <% } %>
            </h5>
            <div>
                <label for="type">Choose status type:</label>
                <select name="type" onchange="document.querySelector('form#hotshotManagerNav').submit();">
                  <option value="pending">Pending</option>
                  <option value="active" <% if(type === 'active') { %> selected <%}%>>Active</option>
                  <option value="archived" <% if(type === 'archived') { %> selected <%}%>>Archived</option>
                </select>
            </div>
            <div>
                <input type="text" name="search" placeholder="Search..">
            </div>
        </form>
        <p class="mobile" style="display: none; text-align: center; margin-top: 30px;">Please view on desktop for more detailed information such as thumbnails.</p>
        <% if(search) { %> <p style="text-align: center; margin-top: 30px;">Searched for: <%= search %></p> <% } %>
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Carbohydrates</th>
                <th>Weight</th>
                <th>Barcode</th>
                <th>Actions</th>
            </tr>
            <% for(let i=0; i<hotshots.length; i++) {%>
                <% const hotshot = hotshots[i] %>
                <tr>
                    <td>
                        <h1></h1>
                        <img src="/api/hotshots/thumbnail/<%= hotshot.imagePath %>">
                    </td>
                    <td>
                        <h4><%= hotshot.name %></h4>
                    </td>
                    <td>
                        <h4><%= hotshot.carbohydrates %></h4>
                    </td>
                    <td>
                        <h4><%= hotshot.weight %></h4>
                    </td>
                    <td>
                        <h4><%= hotshot.barcode ?? "N/A" %></h4>
                    </td>
                    <td>
                        <form action="./hotshotManager/approve" method="POST">
                            <input type="text" name="id" value="<%= hotshot.id %>" style="display: none;">
                            <button>Approve</button>
                        </form>
                        <% if(type !== "archived") {%>
                            <form action="./hotshotManager/reject" method="POST">
                                <input type="text" name="id" value="<%= hotshot.id %>" style="display: none;">
                                <button>Reject / Archive</button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <%}%>
        </table>
    </main>
</body>